.vs
.git
packages
/InvoiceCaptureLib/bin
/InvoiceCaptureLib/obj/Debug
/test/bin/Debug
/test/obj/Debug
/test/ManualTests.cs
/test/obj
/InvoiceCaptureLib/obj
/obj
/api
.idea
**/obj
/*DotSettings.user
bin
test/bin/
