-
  branches:
    only:
      - master
  version: 0.1.{build}
  image: Visual Studio 2017
  environment:
    matrix:
      - configuration: Release
  matrix:
    fast_finish: false
  nuget:
    project_feed: true
  before_build:
  - cmd: nuget restore
  build:
    parallel: true
    verbosity: normal
  artifacts:
  - path: InvoiceCaptureLib\bin\**\*.*

-
  branches:
    only:
      - releases
  version: 0.1.{build}
  image: Visual Studio 2017
  environment:
    matrix:
      - configuration: Release
  matrix:
    fast_finish: false
  nuget:
    project_feed: true
  before_build:
  - cmd: nuget restore
  build:
    parallel: true
    verbosity: normal
  after_build:
    - ps: nuget pack InvoiceCaptureLib.nuspec -Version $env:APPVEYOR_BUILD_VERSION
  artifacts:
  - path: '**\InvoiceCaptureLib.*.nupkg'
  deploy:
  - provider: NuGet
    api_key:
      secure: 3GMoi1X9uXZH6O3Zg2f+S7VlhgaX6c8l+d637t2S5Wd6sSvmEGYPEEsFNCVaTfAQ
